/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 18, 2018, 10:11:30 PM
    Author     : HANH
*/
body{
    margin: 0px auto;
    background-image: url(./img/lg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 720px;
}
.container{
    width: 500px;
    height: 400px;
    text-align: center;
    background-color: rgba(52,73,94,0.7);
    margin: 0px auto;
    margin-top: 150px;
    border-radius: 4px;
}
.container img{
    width:120px;
    height: 120px;
    margin-top: -60px;
    margin-bottom: 30px;
}
input {
    height: 45px;
    width: 300px;
    font-size: 18px;
    margin-bottom: 20px;
    background-color: #fff;
    margin-left: 35px;
}
input[type="submit"]{
    font-size: 15px;
}
.btn-login{
    width: 97px;
    height: 40px;
    color: white;
    background-color: #2ECC71;
    border: none;
    border-radius: 4px;
}
p{
    color: white;
    margin-top: -4px;
    margin-left: 36px;
}
a{
    text-decoration: none;
}
h12{
    color: white;
    margin-left: 549px;
}
